{% extends 'base/master.html' %}

{% block 'title' %} About-Us {% endblock %}

{% block 'body' %}
<div class="container">
    <div class="col-md-12">
    <h3>ABOUT - US</h3>
<h3>CVSANSAR is a platform where user can create their account and create cv and download in pdf format. Once user create their cv it is stored in our database and they can download when they need it.</h3>
    <h4>CVSANSAR is a platform where user can create their account and create cv and download in pdf format. Once user create their cv it is stored in our database and they can download when they need it.</h4>

    <h3>ABASH SHAH</h3>
    </div>
</div>






{% endblock %}