{% extends 'base/master.html' %}

{% block 'title' %} PersonalDetails - Dashboard {% endblock %}

{% block 'body' %}

<div class="banner_bottom">
    <div class="container">
        <div class="col-md-6">
            <h2>Update from here</h2><br>
            <form action="{% url 'updateprofile' %}" method="POST" enctype="multipart/form-data">
            {{uform}}
            {% csrf_token %}
                <br>
            <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}


